@charset 'UTF-8';
/*全局样式初始化*/
*,
*:before,
*:after
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
small,
strong,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td
{
    margin: 0;
    padding: 0;

    vertical-align: baseline; 

    border: 0;
    outline: 0;
    background-color: transparent;

    -webkit-font-smoothing: antialiased;
}

body
{
    font-family: 'ff-tisa-web-pro-1','ff-tisa-web-pro-2','Lucida Grande','Helvetica Neue',Helvetica,Arial,'Hiragino Sans GB','Hiragino Sans GB W3','Microsoft YaHei UI','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
    font-size: 14px;

    background-color: transparent;

    -webkit-font-smoothing: antialiased;
}

ol,
ul
{
    list-style: none;
}

table
{
    border-spacing: 0;
    border-collapse: separate;

    vertical-align: middle;
}

select,
textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
.uneditable-input
{
    font-size: 14px;
    line-height: 20px;

    display: inline-block;

    margin: 5px 0;
    padding: 4px 6px;

    vertical-align: middle; 

    color: #555 !important;
}

textarea,
input
{
    font-weight: normal; 

    height: auto;
}

textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
.uneditable-input
{
    -webkit-transition: border linear .2s,box-shadow linear .2s;
       -moz-transition: border linear .2s,box-shadow linear .2s;
         -o-transition: border linear .2s,box-shadow linear .2s;
            transition: border linear .2s, box-shadow linear .2s; 

    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
.uneditable-input:focus
{
    border-color: rgba(82, 168, 236, .8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
}

input[type='radio'],
input[type='checkbox']
{
    line-height: normal; 

    margin: 4px 0 0;
    margin-top: 1px \9;
}

input[type='file'],
input[type='image'],
input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='radio'],
input[type='checkbox']
{
    width: auto;
}

input[type='text'] + button[type='button']:focus
{
    outline: 0;
}

a
{
    text-decoration: none; 

    color: #666;
}
a:visited
{
    color: #666;
}
a:hover
{
    color: #4d4d4d;
}

img
{
    width: auto\9;
    max-width: 100%;
    height: auto;

    vertical-align: middle;

    -ms-interpolation-mode: bicubic; 
    border: 0;
}

/*隐藏打印内容*/
@media print
{
    .noprint
    {
        display: none;
    }
}
.pull-right
{
    float: right !important;
}

.pull-left
{
    float: left !important;
}

.hide
{
    display: none !important;
}

.show
{
    display: block !important;
}

.fade
{
    -webkit-transition: opacity .15s linear;
         -o-transition: opacity .15s linear;
            transition: opacity .15s linear; 

    opacity: 0;
}

.fade.in
{
    opacity: 1;
}

.mt20
{
    margin-top: 20px;
}



/*阴影*/
.panel
{
    padding: 5px;

    border: 1px solid #ccc;
    -webkit-border-bottom-right-radius: 3px;
            border-bottom-right-radius: 3px; 
    -webkit-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px;
    background-color: #fff;

       -moz-border-bottom-left-radius: 3px;
       -moz-border-bottom-right-radius: 3px;
         -o-border-bottom-left-radius: 3px;
         -o-border-bottom-right-radius: 3px;
        -ms-border-bottom-left-radius: 3px;
        -ms-border-bottom-right-radius: 3px;
}

.head-item
{
    line-height: 38px;

    height: 38px;

    border-top: 1px solid #5fa3e4;
    border-right: 1px solid #5fa3e4;
    border-left: 1px solid #5fa3e4;
    -webkit-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
    background: #6393c1;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NmZTdmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MzkzYzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background:    -moz-linear-gradient(left, #6393c1 0%, #cfe7fa 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #6393c1), color-stop(100%, #cfe7fa));
    background: -webkit-linear-gradient(left, #6393c1 0%, #cfe7fa 100%);
    background:      -o-linear-gradient(left, #6393c1 0%, #cfe7fa 100%);
    background:     -ms-linear-gradient(left, #6393c1 0%, #cfe7fa 100%);
    background:         linear-gradient(to right, #6393c1 0%, #cfe7fa 100%);
    background-color: #8bbdec;
    background-clip: padding-box;

       -moz-border-top-left-radius: 3px;
       -moz-border-top-right-radius: 3px;
         -o-border-top-left-radius: 3px;
         -o-border-top-right-radius: 3px;
        -ms-border-top-left-radius: 3px;
        -ms-border-top-right-radius: 3px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6393c1', endColorstr='#cfe7fa',GradientType=1 );
}
.head-item:before,
.head-item:after
{
    display: table; 

    content: '';
}
.head-item:after
{
    clear: both;
    overflow: hidden;
}
.head-item h2
{
    font-size: 18px;
    font-weight: normal; 

    margin-left: 10px;

    color: #fff;
}

.hbr
{
    clear: left;

    width: 100%;
    height: 5px;
    margin: 10px 0;

    background: url('../imgs/divider.png') left center repeat-x;
}
.hbr span
{
    display: block; 

    width: 100%;
    height: 5px;

    background: url('../imgs/divider_span.png') center center no-repeat;
}

.table
{
    width: 100%;

    border-spacing: 0;
    border-collapse: collapse;

    border: 1px solid #dbdbdb;
    border-left: 0;
    background-color: transparent;
}
.table thead th
{
    font-weight: bold;

    height: 35px;

    vertical-align: middle;

    color: #444;
    border-left: 1px solid #dbdbdb;
    border-radius: 0 !important;
    background-color: #f2f2f2;
}
.table thead th:first-child
{
    text-align: center;
}
.table thead th.checkbox
{
    width: 40px;
}
.table thead th.checkbox input
{
    float: none;
}
.table tbody tr.odd
{
    background-color: #fcfcfc;
}
.table tbody tr.even
{
    background-color: #fff;
}
.table tbody tr.text-center
{
    text-align: center;
}
.table tbody tr.text-left
{
    text-align: left;
}
.table tbody tr.text-right
{
    text-align: right;
}
.table tbody tr.meta
{
    font-weight: bold;
}
.table tbody tr.range
{
    background-color: #ebebeb;
}
.table tbody tr:hover
{
    background-color: #fafafa;
}
.table tbody td
{
    font-weight: normal;

    height: 35px;
    padding: 0 8px;

    vertical-align: middle; 

    color: #444;
}
.table tbody td:first-child
{
    text-align: center;
}
.table td
{
    line-height: 20px;

    text-align: left;
    vertical-align: top;

    border-top: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
}
.table td input[type='text'],
.table td select,
.table td textarea
{
    /*控制宽度不变*/
    overflow-y: auto; 

    width: 100%;

    resize: vertical;
    height:34px;
}
.table td.text-center
{
    text-align: center;
}
.table tbody tr td.text-left
{
    text-align: left;
}
.table td.text-right
{
    text-align: right;
}
.table td.meta
{
    font-weight: bold;
}
.table td.range
{
    background-color: #ebebeb;
}
.table.center tbody td
{
    text-align: center;
}
.table.center tbody td.font-left
{
    text-align: left;
}
.table .table
{
    border: 0;
}

.table-icon
{
    position: relative;
}
.table-icon span
{
    position: absolute;
    right: 0;
    bottom: 30%;

    width: 14px;
    height: 14px;

    cursor: pointer;
}
.header
{
    line-height: 70px;

    width: 100%;
    height: 70px;
    margin-bottom: 10px; 

    color: #fff;
    background-color: #75b0e8;
}
.header .header-inner
{
    float: left;

    margin-left: 9%;
}
.header .header-inner:before,
.header .header-inner:after
{
    display: table; 

    content: '';
}
.header .header-inner:after
{
    clear: both;
    overflow: hidden;
}
.header .header-inner nav
{
    float: right;
    clear: right; 
    overflow: hidden;

    height: 70px;
}
.header .header-inner nav ul li
{
    font-size: 15px; 
    line-height: 70px;

    float: left;

    height: 70px;
    padding: 0 14px;
}
.header .header-inner nav ul li h2
{
    font-size: 20px;
    font-weight: normal; 

    cursor: default;

    color: #fff;
}
.header .header-inner nav ul li h2 a
{
    display: block;

    color: #fff;
}
.header .header-inner nav ul li:hover
{
    background-color: #5fa3e4;
}
.header .header-inner nav ul li .sub-menus
{
    position: absolute;
    z-index: 1002;

    display: none;
    overflow: hidden;

    width: auto;

    -webkit-transition-timing-function: cubic-bezier(.17, .5, .44, .36);
       -moz-transition-timing-function: cubic-bezier(.17, .5, .44, .36);
         -o-transition-timing-function: cubic-bezier(.17, .5, .44, .36);
            transition-timing-function: cubic-bezier(.17, .5, .44, .36); 
    -webkit-transition-duration: 550ms;
       -moz-transition-duration: 550ms;
         -o-transition-duration: 550ms;
            transition-duration: 550ms;

    opacity: 0;
    background: #333;

    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.header .header-inner nav ul li .sub-menus .sub-menu
{
    font-size: 14px; 
    line-height: 25px;

    display: block;
    float: none;

    min-width: 150px;
    height: 35px;
    padding: 5px 12px;
}
.header .header-inner nav ul li .sub-menus .sub-menu a
{
    display: block;

    color: #fff;
}
.header .header-inner nav ul li .sub-menus .sub-menu:hover
{
    background-color: #5ba1e4;
}
.header .header-inner nav ul li .sub-menus.active
{
    display: block; 

    -webkit-transition-timing-function: cubic-bezier(.73, .67, .77, .92);
       -moz-transition-timing-function: cubic-bezier(.73, .67, .77, .92);
         -o-transition-timing-function: cubic-bezier(.73, .67, .77, .92);
            transition-timing-function: cubic-bezier(.73, .67, .77, .92);
    -webkit-transition-duration: 250ms;
       -moz-transition-duration: 250ms;
         -o-transition-duration: 250ms;
            transition-duration: 250ms;

    opacity: 1;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.footer
{
    line-height: 50px;

    height: 50px;

    text-align: center; 

    color: #000;
}

@media (min-width: 480px)
{
    .container
    {
        width: 430px;
        margin: 0 auto;
    }
}
@media (min-width: 700px)
{
    .container
    {
        width: 650px;
        margin: 0 auto;
    }
}
@media (min-width: 960px)
{
    .container
    {
        width: 760px;
        margin: 0 auto;
    }
}
@media (min-width: 1024px)
{
    .container
    {
        width: 824px;
        margin: 0 auto;
    }
}
@media (min-width: 1280px)
{
    .container
    {
        width: 1080px;
        margin: 0 auto;
    }
}
@media (min-width: 1400px)
{
    .container
    {
        width: 1200px;
        margin: 0 auto;
    }
}
@media (min-width: 1600px)
{
    .container
    {
        width: 1400px;
        margin: 0 auto;
    }
}
@media (min-width: 1920px)
{
    .container
    {
        width: 1720px;
        margin: 0 auto;
    }
}
.container .row-fluid .y-span1,
.container .row-fluid .y-span2,
.container .row-fluid .y-span3,
.container .row-fluid .y-span4,
.container .row-fluid .y-span5,
.container .row-fluid .y-span6,
.container .row-fluid .y-span7,
.container .row-fluid .y-span8,
.container .row-fluid .y-span9,
.container .row-fluid .y-span10,
.container .row-fluid .y-span11,
.container .row-fluid .y-span12
{
    display: inline-block;
    float: left;

    box-sizing: border-box;
    padding-left: 10px;
}

.container .row-fluid
{
    width: 100%;
    margin-bottom: 10px;

    *zoom: 1;
}
.container .row-fluid:before,
.container .row-fluid:after
{
    display: table; 

    content: '';
}
.container .row-fluid:after
{
    clear: both;
    overflow: hidden;
}
.container .row-fluid .y-span1
{
    width: 8.33333%;
}
.container .row-fluid .y-span2
{
    width: 16.66667%;
}
.container .row-fluid .y-span3
{
    width: 25%;
}
.container .row-fluid .y-span4
{
    width: 33.33333%;
}
.container .row-fluid .y-span5
{
    width: 41.66667%;
}
.container .row-fluid .y-span6
{
    width: 50%;
}
.container .row-fluid .y-span7
{
    width: 58.33333%;
}
.container .row-fluid .y-span8
{
    width: 66.66667%;
}
.container .row-fluid .y-span9
{
    width: 75%;
}
.container .row-fluid .y-span10
{
    width: 83.33333%;
}
.container .row-fluid .y-span11
{
    width: 91.66667%;
}
.container .row-fluid .y-span12
{
    width: 100%;
}
.container .row-fluid [class*='y-span']:first-child
{
    padding-left: 0;
}

.btn
{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;

    display: inline-block;

    margin-bottom: 0;
    padding: 3px 10px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: #333;
    border: 1px solid transparent;
    border-color: #adadad; 
    border-radius: 4px;
    background-color: #fff;
    background-image: none;

    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
.btn:hover
{
    background: #f0f0f0;
}

button.close
{
    padding: 0;

    cursor: pointer;

    border: 0; 
    background: 0 0;

    -webkit-appearance: none;
}

.close
{
    font-size: 21px;
    font-weight: 700;
    line-height: 1;

    float: right;

    opacity: .2; 
    color: #000;
    text-shadow: 0 1px 0 #fff;

    filter: alpha(opacity=20);
}

/*按钮样式*/
.btn-primary
{
    color: #fff;
    border: 1px solid #347cb9;
    border-color: #347cb9; 
    background-color: #428bca;
}
.btn-primary:hover
{
    color: #fff;
    border-color: #3071a9; 
    background-color: #3276b1;
}
.btn-primary:visited
{
    color: #fff;
}

.btn-info
{
    color: #fff;
    border: 1px solid #42b6d9;
    border-color: #42b6d9; 
    background-color: #5bc0de;
}
.btn-info:hover
{
    color: #fff;
    border-color: #31b0d5; 
    background-color: #39b3d7;
}
.btn-info:visited
{
    color: #fff;
}

.btn-success
{
    color: #fff;
    border: 1px solid #4aab4a;
    border-color: #4aab4a; 
    background-color: #5cb85c;
}
.btn-success:hover
{
    color: #fff;
    border-color: #449d44; 
    background-color: #47a447;
}
.btn-success:visited
{
    color: #fff;
}

.btn-warning
{
    color: #fff;
    border: 1px solid #eea032;
    border-color: #eea032; 
    background-color: #f0ad4e;
}
.btn-warning:hover
{
    color: #fff;
    border-color: #ec971f; 
    background-color: #ed9c28;
}
.btn-warning:visited
{
    color: #fff;
}

.btn-error
{
    color: #fff;
    border: 1px solid #d43a36;
    border-color: #d43a36; 
    background-color: #d9534f;
}
.btn-error:hover
{
    color: #fff;
    border-color: #c9302c; 
    background-color: #d2322d;
}
.btn-error:visited
{
    color: #fff;
}


.text-red{
    color: red;
}

.text-green{
    color: green;
}

.forkme {
  position: fixed;
  right: -60px;
  top: 50px;
  z-index: 10;
  line-height: 30px;
  color: #fff;
  text-align: center;
  width: 250px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  /* transform: rotate(-45deg); */
  /* -webkit-transition: none; */
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  /* transition: none; */
  font-weight: bold;
  text-shadow: -1px 1px 1px rgba(59, 123, 208,0.7);
  -webkit-box-shadow: 0 1px 3px rgba(59, 123, 208, 0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
  -moz-box-shadow: 0 1px 3px rgba(59, 123, 208, 0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
  -ms-box-shadow: 0 1px 3px rgba(59, 123, 208, 0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
  -o-box-shadow: 0 1px 3px rgba(59, 123, 208, 0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
  box-shadow: 0 1px 3px rgba(59, 123, 208, 0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
  border-collapse: separate;
  border: 1px solid #246BB0;
  background-color: #8DBCE8;
  background-image: -webkit-gradient(radial,center center,0,center center,460,from(#3B7FC0),to(#8DBCE8));
  background-image: -webkit-radial-gradient(circle,#3B7FC0,#8DBCE8);
  background-image: -moz-radial-gradient(circle,#3B7FC0,#8DBCE8);
  background-image: -ms-radial-gradient(circle,#3B7FC0,#8DBCE8);
  background-image: -o-radial-gradient(circle,#3B7FC0,#8DBCE8);
  background-repeat: no-repeat;
}
.forkme:hover {
    color: #fff;
    background-color:#2468A8;
    background-image:-webkit-gradient(radial,center center,0,center center,460,from(#75b0e8),to(#2468A8));
    background-image:-webkit-radial-gradient(circle,#75b0e8,#2468A8);
    background-image:-moz-radial-gradient(circle,#75b0e8,#2468A8);
    background-image:-ms-radial-gradient(circle,#75b0e8,#2468A8);
    background-image:-o-radial-gradient(circle,#75b0e8,#2468A8);
    background-repeat:no-repeat;
    -webkit-box-shadow:0 1px 3px rgba(59, 123, 208, 0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
    -moz-box-shadow:0 1px 3px rgba(59, 123, 208, 0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
    -ms-box-shadow:0 1px 3px rgba(59, 123, 208, 0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
    -o-box-shadow:0 1px 3px rgba(59, 123, 208, 0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
    box-shadow:0 1px 3px rgba(59, 123, 208, 0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
    border-collapse:separate
}
a.forkme:visited{
    color: #fff;
}
/*style*/

/*# sourceMappingURL=main.css.map */
